cython
fvcore
imageio
numpy
opencv-python
Pillow==9.0.1
pypng
torch
torchvision
tqdm
xmltodict
git+https://github.com/cocodataset/cocoapi.git#subdirectory=PythonAPI
git+https://github.com/facebookresearch/detectron2.git
